@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.bi-cart3{
    color: var(--white-ultra-light);
    font-size: .8rem;
    margin-left: 10px;
}
html{
    scroll-behavior: smooth;
}


header{
    display: flex;
    align-items: center;
    padding: 3vh 5vw;
    justify-content: space-between;
    background-color: rgb(142, 223, 238);
    border: #000;
    border-radius: 50px;
    padding: 10px;
    padding: #000;
}
nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}


.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}



/* Card desing */
.articulos{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
    justify-content: center;
}
.card{
    width: 300px;
    background-color: rgb(142, 223, 238);
    border-radius: 7px;
    gap:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px var(--brown);
}
.card:hover{
    transition: all .5s;
    transform: scale(1.05);
}
.card-img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    opacity: 0.9;
}
.card-img:hover{
    transition: 3s all;
    opacity: 1;
}
.btn{
    border: none;
    padding: 12px;
    border-radius: 5px;
}
.botn{
    border: none;
    padding: 12px;
    border-radius: 5px;
}
.btn:hover{
    transition: all 1s ease-in-out;
    color: var(--brown)
}
.botn:hover{
    transition: all 1s ease-in-out;
    color: var(--brown)
}
.card-category{
    padding: 4px;
    border-radius: 5px;
}
.card-info-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}


/* diseño de cartas carrito */
.cart-cards-container{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 5vw;
}
.cart-card-info{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.cart-card{
    background-color: rgb(142, 223, 238);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3vw;
    color: var(--white-ultra-light);
}

.cart-card h2{
    font-size: 2rem;
}
.cart-cards-btns-container{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.cart-cards-btns-container div{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.controls-cart{
    display: flex;
}
.controls-cart{
    position: fixed;
    bottom: 0;
    background-color: rgb(142, 223, 238);
    width: 100%;
    padding: 5vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('bg.png');
  }
  
  .form-login {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
  }
  
  .form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
  .controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
  }
  
  .buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
  
.imgvermas{
    width: 453px;
  height: 677px;
  margin: 0 auto 0 0;
  min-height: 400px;
}

.contenedor-ver-mas {
    position: relative;
  flex: 1 ;
  max-width: 100%;
  transition-duration: inherit;
  color: #111111;
  background-color: #f2f2f2;
  text-align: center;
  --theme-sheet-width-xl: 1140px;
    --theme-sheet-width-lg: 940px;
    --theme-sheet-width-md: 720px;
    --theme-sheet-width-sm: 540px;
    --theme-sheet-width-xs: 340px;
}

.contenedor-ver-mas-2{
    padding: 30px 30px 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    max-width: 100%;
}

.precio{
    font-size: 4.5rem;
    font-weight: 700;
}